<div class="mainDiv">

  <div class="ligneDuHaut">
  </div>

  <div *ngIf="!(monFilm.poster_path)" class="divImg">
    <img src="http://www.la-petite-rapporteuse.fr/medias/album/loutre.jpg"/>
    <div class="divImgText">
      {{getDesc()}}
    </div>
  </div>

  <div *ngIf="(monFilm.poster_path)" class="divImg">
    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{monFilm.poster_path}}"/>
    <div class="divImgText">
      {{getDesc()}}
    </div>
  </div>

  <div class="ligneDuBas">
    <div class="titleHaut">
      {{monFilm.title}}
    </div>

    <div class="divFav" *ngIf="showToFavB">
      <button class="btnFav" (click)="addFav()">
        <img src="https://image.flaticon.com/icons/svg/126/126471.svg">
      </button>
    </div>

    <div class="divFav" *ngIf="showToUnfavB">
      <button class="btnFav" (click)="removeFav()">
        <img src="https://image.flaticon.com/icons/svg/60/60993.svg">
      </button>
    </div>

  </div>

</div>
