.mainDiv {
  width: 12em;
}

.ligneDuHaut {
  height: 15%;
  display: flex;
  width: 100%;
}

.titleHaut {
  width: 70%;
  white-space: normal;
  word-break: break-word;
  font-size: 0.9em;
  margin-left: 4%;
  overflow: hidden;
}

.noteHaut {
  width: 30%;
  text-align: right;
  right: 0;
}

.divImg {
  height: 80%;
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}

.divImg img {
  height: 100%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.divImg:hover .divImgText {
  position: absolute;
  display: initial;

  top: 0;
  left: 5%;

  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;

  width: 90%;
  height: 100%;

  white-space: normal;
  word-break: break-word;
  font-size: 16px;
  overflow: hidden;
  overflow-y: auto;
}

.divImgText {
  display: none;
}

.ligneDuBas {
  max-height: 5%;
  display: flex;
  width: 100%;
}

.divToSee {
  width: 50%;
}

.divFav {
  width: 50%;

}

.btnSee {
  height: 90%;
  width: 40%;
  margin-left: 3px;
}

.btnSee img {
  width: 100%;
}

.btnFav {
  height: 30px;
  width: 40%;
  margin-right: 12%;
  float: right;
}

.btnFav img {
  width: 100%;
}

.divToSeeDisabled input {
  width: 100%;
}

.divFavEnabled input {
  width: 100%;
}

.divFavDisabled input {
  width: 100%;
}

