#userDiv {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1200px) {
  #FavActor {
    flex: 25%;
    max-width: 25%;
  }

  #userLists {
    float: right;
    flex: 75%;
    max-width: 75%;
  }

  #menuListe{
    float: left;
    background-color: aqua;
    top:11.3%;
  }
}


@media screen and (min-width: 1200px) {
  #FavActor {
    flex: 10%;
    max-width: 10%;
  }

  #userLists {
    float: right;
    flex: 90%;
    max-width: 90%;
    overflow-y: -moz-scrollbars-horizontal;
  }

  #menuListe{
    float: left;
    background-color: aqua;


  }
}

ul {
  list-style:none;
  margin-left:0;
  padding-left:0;
}




