<!-- Barre de navigation du haut -->
<div>
<nav *ngIf="user" class="navbar">
  <ul>
    <li class="liPhotoUser">
      <img class="photoUser" [src]="user.photoURL" (click)="goToUserPage()"/>
    </li>
    <li>
      <label>{{user.displayName}}</label><br>
      <button (click)="logout()">Déconnection</button>
    </li>
    <li>
      <!-- {{user.uid}} -->
      <form  (submit)="chercheFilm(filmrecherche.value)">
        <input #filmrecherche type="text" placeholder="Rechercher films ...">
      </form>
    </li>
  </ul>
</nav>
</div>

  <app-profil-utilisateur (emitListFav)="receiveIdFav($event)" (emitListSee)="receiveIdSee($event)" [actif]="userP" [addOrRemove]="aoREvent" [user]="user" [tmdb]="gtmdb"></app-profil-utilisateur>



<nav *ngIf="!user" class="navbar">

  <button (click)="login()">Connection via Google</button>
  <button (click)="signIn()">Se Connecter</button>
  <button (click)="signUp()">S'enregistrer</button>

  <div *ngIf="signInBool">

    <app-sign-in></app-sign-in>

  </div>

  <div *ngIf="signUpBool">

    <app-signup></app-signup>

  </div>

</nav>

<div *ngIf="searchR" class="divContent">
  <app-liste-film [listIdFav]=""  *ngIf="getIfFilms(searchR.results)"  (addOrRemoveEvent)="receiveAoR($event)" [mesFilms]="searchR.results"></app-liste-film>
</div>

<hr/>
