
<nav *ngIf="user">
  <li>
    <label>{{user.displayName}}</label>
    <img class="photoUser" [src]="user.photoURL" />
    <button (click)="logout()">Déconnection</button>
    {{user.uid}}
  </li>
  <li>

  </li>
</nav>

<nav *ngIf="!user">
  <button (click)="login()">Connection via Google</button>
</nav>

<hr/>
<pre *ngIf="lists">
  {{lists | async | json}}
</pre>

<hr/>
<section *ngIf="movie">
  <img [src]="getPath(movie.poster_path)" />
  <pre>{{movie | json}}</pre>
</section>
<section *ngIf="!movie">
  Pas encore de films à afficher...
</section>

