.photoUser {
  width: 100%;
  height: 100%;
  flex: 1;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.liPhotoUser {
  max-width: 7%;
}

.navbar ul li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: auto;
  max-height: 100px;
}

.divContent {
  margin-top: 5px;
  width: 100%;
}

.btnUser {
  padding: 0;
  border: 0;
  display: flex;
}
