<!-- Barre de navigation du haut -->
<div *ngIf="user">
  <nav class="navbar">
    <ul>
      <li class="liPhotoUser">
        <button (click)="goToUserPage()" class="btnUser">
          <img class="photoUser" [src]="user.photoURL" />
        </button>
      </li>

      <li>
        <label>{{user.displayName}}</label><br>
        <button (click)="logout()">Déconnection</button>
      </li>

      <li>
        <!-- {{user.uid}} -->
        <form  (submit)="chercheFilm(filmrecherche.value)">
          <input #filmrecherche type="text" placeholder="Rechercher films ...">
        </form>
      </li>
    </ul>
  </nav>

  <app-profil-utilisateur (emitListFav)="receiveIdFav($event)" (emitListSee)="receiveIdSee($event)" [actif]="userP" [addOrRemove]="aoREvent" [user]="user" [tmdb]="gtmdb"></app-profil-utilisateur>

  <div *ngIf="searchR" class="divContent">
    <app-liste-film [listIdFav]=""  *ngIf="getIfFilms(searchR.results)"  (addOrRemoveEvent)="receiveAoR($event)" [mesFilms]="searchR.results"></app-liste-film>
  </div>
</div>

<div *ngIf="!user">
  <nav class="navbar">
    <ul>
      <li>
        <button (click)="login()">Connection via Google</button>
      </li>
    </ul>
  </nav>
</div>

<pre *ngIf="lists">
    <!--  {{lists | async | json}} -->
</pre>
